*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}

body {
    margin: 0;  
}
.main {
    background-image: url(https://i.pinimg.com/originals/9b/98/57/9b985780e9bfc401da318073e02865f8.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
}
.main h1  {
text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
  9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
text-transform: uppercase;
font-size: 50px;
text-align: center;
margin: 0;
color: var(--color-primary );
animation: shadows 1.2s ease-in infinite;
letter-spacing: 0.4rem;
}

@keyframes shadows {
0% {
  text-shadow: none;
}
10% {
  transform: translate(-3px, -3px);
  text-shadow: 3px 3px 0 var(--color-secondary);
}
20% {
  transform: translate(-6px, -6px);
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary);
}
30% {
  transform: translate(-9px, -9px);
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
}
40% {
  transform: translate(-12px, -12px);
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
    12px 12px 0 var(--color-quinary);
}
50% {
  transform: translate(-12px, -12px);
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
    12px 12px 0 var(--color-quinary);
}
60% {
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
    12px 12px 0 var(--color-quinary);
}
70% {
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
}
80% {
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary);
}
90% {
  text-shadow: 3px 3px 0 var(--color-secondary);
}
100% {
  text-shadow: none;
}
}

  

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}
.btn {
    padding: 15px 50px;
    font-size: 16px;
    color: white;
    background-color: rgb(195, 136, 251);
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    transition: 0.3s ease;
    cursor: pointer;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.btn:hover {
    background-color: rgb(253, 147, 219);
    transform: scale(1.1);
}