
body {
    margin: 0;
}

.parallax {
    background-image: url(https://img.freepik.com/free-vector/pastel-watercolor-painted-background_23-2148959639.jpg);
    background-size: cover;
    background-position: center;
    height: 300vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.parallax h1 {
    font-size: 50px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}